pinecone-client
langchain
langchain-openai
langchain-community
langchain-pinecone
openai>=1.0.0
python-dotenv
unstructured
pdfplumber
python-docx
streamlit
streamlit-chat
tiktoken
openpyxl
pandas
xlrd
Pillow